<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Estética</title>
    <link rel="stylesheet" href="../static/css/style.css">
   
</head> 

<!--inicio de productos --> 
<body>
    <header  id="inicio">
          <img src="static/imagenes/logo-1.jpeg" alt="Logo Estética" class="logo">
        <h1>Catálogo de Productos de Estética</h1>
        <nav>
            <ul>
               
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../servicios/serv.html">Servicios</a></li>
                <li><a href="../contacto-html/contacto.html">Contacto</a></li>
                <li><a href="productos.html">Productos</a></li>
            </ul>
     </nav>
    </header>
    <main>
        <!-- Índice de productos -->
        <h2>Nuestros Productos</h2>
             <ul>
                <li><h3><a href="#cremas-limpieza">Cremas de limpieza</a></h3></li>
                <li><h3><a href="#serums">Serums</a></h3></li>
                <li><h3><a href="#cremas-hidratantes">Cremas hidratantes</a></h3></li>
                <!--<li><h3><a href="#protector-solar">Protector solar</a></h3></li>!-->
            </ul>
    </main>
    
    <!-- Secciones de productos -->
    <section id="cremas-limpieza">
        <h2>Cremas de limpieza</h2>
        <p>Ofrecemos una variedad de cremas de limpieza facial que eliminan impurezas y dejan la piel fresca y revitalizada.</p>
        <h4>Productos Destacados:</h4>
        
        <ul class ="lista-productos">
            
            <li class="producto"><h3>Pieles sensibles y mixtas</h3>
               
            <img src="static/imagenes/piel_sensible_y_mixta.jpg" alt="Cremas para pieles sensibles y mixtas">
            
            <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Cremas%20de%20Limpieza%20Pieles%20Sensibles%20y%20Mixtas"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp

            </a>
            </li>
            <li class="producto"><h3>Pieles para control sebo</h3>
            
            <img src="static/imagenes/sebo_control.jpg" alt="Cremas para control de sebo">
            
            <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Cremas%20de%20Limpieza%20Pieles%20para%20Control%20de%20Sebo"
                        class="btn-wsp"
                        target="_blank">
                         Comunicate por WhatsApp

            </a>
            </li>    
    
        </ul>    
    
    
    </section>
    
    <!--- Sección de serums -->
    <section id="serums">
        <h2>Serums</h2>
        <p>Descubre nuestra selección de serums que hidratan profundamente y mejoran la textura de tu piel.</p>
        <h4>Productos Destacados:</h4>
        <ul class ="lista-productos">
            <li class="producto"><h3>Cicabost</h3>  
            <img src="static/imagenes/cicabost.jpg" alt="Serum Cicabost">
            <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Cicabost"
                        class="btn-wsp"
                        target="_blank">
                         Comunicate por WhatsApp

            </a>
        </li>

            <li class="producto"><h3>Hyaluronico B5</h3>
            <img src="static/imagenes/hyalu_b5.jpg" alt="Serum Hyaluronico B5">
            <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Hyaluronico%20B5"
                        class="btn-wsp"
                        target="_blank">
                      Comunicate por WhatsApp

            </a>
            </li>
            <li class="producto"><h3>Retinol</h3>
            <img src="static/imagenes/retinol.jpg" alt="Serum Retinol">
            <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Retinol"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp

            </a>
            </li>
            <li class="producto"><h3>Vitamina C</h3>
            <img src="static/imagenes/vita_c.jpg" alt="Serum Vitamina C">
            <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Vitamina%20C"
                        class="btn-wsp"
                        target="_blank">
                         Comunicate por WhatsApp

            </a>
            </li>    
            <li class="producto"><h3>Niacinamida</h3>
            <img src="static/imagenes/niacinamida.jpg" alt="Serum Niacinamida">   
            <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Niacinamida"
                        class="btn-wsp"
                        target="_blank">
                        Comunicate por WhatsApp

            </a>
            </li>
        </ul>

    </section>
    
    <!--- Sección de cremas hidratantes -->
    <section id="cremas-hidratantes">
        <h2>Cremas hidratantes</h2>
        <p>Nuestras cremas hidratantes mantienen tu piel suave y protegida durante todo el día.</p>
        <h4>Productos Destacados:</h4>
        <ul class ="lista-productos">
            <li class="producto"><h3>Anti age y nutri protect</h3>
            <img src="static/imagenes/anti_age_y_nutri_protect.jpg" alt="Cremas para pieles secas">
            <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Anti age%20y%20Nutri%20Protect"
                    class="btn-wsp"
                    target="_blank">
                        Comunicate por WhatsApp

            </a>
            </li>     
            <li class="producto"><h3>Hidratante facial</h3>
            <img src="static/imagenes/hidra_protect.jpg" alt="Cremas para pieles grasas">
            <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Hidratante%20Facial"
                    class="btn-wsp"
                    target="_blank">
                         Comunicate por WhatsApp

            </a>
            </li>
        </ul>

    </section>
    <!--- Sección de cremas hidratantes -->

    <!---<section id="protector-solar">
        <h2 class="producto">Protector solar</h2>
        <ul class ="lista-productos">
            <li class="producto"><h3>Solar facial y corporal</h3>
            <p>Protege tu piel del daño solar con nuestros protectores solares de alta protección.</p>
            <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20consultar%20por%20el%20producto:%20Protector%20Solar"
            class="btn-wsp"
            target="_blank">
                        Comunicate por WhatsApp

            </a>
            </li>
        </ul>    
    </section>-->
    <p><a href="#inicio">Volver al inicio</a></p>
    <footer>
        
        <p> © 2026 Centro de Estética.</p>
        <a href="https://wa.me/5491124038046" class="btn-wsp" target="_blank">
                        Comunicate  por WhatsApp
            </a>

   <a href="https://www.instagram.com/cosmetologa.ac/"
             target="_blank"
            rel="noopener"
             class="btn-instagram">
            Instagram
</a>
 </footer>

</body>

</html>