<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Ac Cosmetología</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img src="../static/imagenes/logo-1.jpeg" alt="Logo Estética" class="logo">
        <h1>Ac Cosmetología</h1>
    </header>

    <main>
        <section class="login-section">
            <h2>Iniciar Sesión</h2>
            <form action="/admin/login" method="POST">
               

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Ingresar</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Ac Cosmetología. Todos los derechos reservados.</p>
    </footer>
</body>    
</html>