<!DOCTYPE html> 
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Contacto - Centro de Estética</title>  
    <link rel="stylesheet" href="../static/css/style.css">
   
</head>

<body>
    <header  id="inicio">
         <img src="static/imagenes/logo-1.jpeg" alt="Logo Estética" class="logo">
        <h1>Contacto - Centro de Estética</h1>
        
        <nav>
            <ul>
               
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../servicios/serv.html">Servicios</a></li>
                <li><a href="../contacto.html">Contacto</a></li>
                <li><a href="../productos/productos.html">Productos</a></li>
            </ul>
        </nav>
        
    </header>

    <main>
            <h2>Formulario de Contacto</h2>
            <form action="mailto:contacto@centrodeestetica.com.ar"
                  method="post"
                  enctype="text/plain"
                  >
                <label for="name">Nombre:</label><br>
                <input type="text" id="name" name="name" required><br><br>
                
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br><br>
                
                <label for="message">Mensaje:</label><br>
                <textarea id="message" name="message" rows="4" required></textarea><br><br>
                
                <input type="submit" value="Enviar">
            </form>

            <p><a href="#inicio">Volver al inicio</a></p>
    </main>

    <footer>
         <h2>Contáctanos</h2>
         <p>Si tienes alguna pregunta o deseas reservar una cita, no dudes en contactarnos a través de los siguientes medios:</p>
         
         <ul>
             <li>Teléfono: +54 9 11 2403 8046 </li>
             <a href="https://wa.me/5491124038046?text=Hola,%20quiero%20tomar%20un%20turno%20o%20hacer%20una%20consulta."
                        class="btn-wsp"
                        target="_blank">
                        consultar a nuestro WhatsApp por turnos
             </a>
            
             <a href="https://www.instagram.com/cosmetologa.ac/"
             target="_blank"
            rel="noopener"
             class="btn-instagram">
            Instagram
            </a>

    
             <li>Email: contacto@centrodeestetica.com.ar</li>   
         </ul>
         
    </footer>   
</body>          


</html>    